<div style="text-align: center">
  <h1>
    welcome to {{title}}!
  </h1>

</div>
<h1>get request</h1>
<app-empolyee-list></app-empolyee-list>
<app-empolyee-detail></app-empolyee-detail>
<!-- <h1>post request</h1>
<p *ngIf="datasaved" ngClass="Success">
  record saved successfully!!
</p>
<form [FormGroup]="empolyeeform" (ngSubmit)="onFormSubmit()">
  <table>
    <tr>
      <td>id:</td>
      <td>
        <input formControlName="id">
      </td>
    </tr>
    <tr>
      <td>name:</td>
      <td>
        <input formControlName="name">
      </td>
    </tr>
    <tr>
      <td>age:</td>
      <td>
        <input formControlName="age">
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <button [disable]="empolyeeform.Invalid">Submit</button>
      </td>
    </tr>
  </table>
</form>
<h3>view</h3>
<table>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>age</th>
  </tr>
  <tr></tr>
</table> -->